
body {
	/* font-family: 'Roboto', sans-serif; */
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	margin-bottom: 0px;
	font-size: 15px;
	font-weight: 400;
	color: #7a7a7a;
	line-height: 30px;
}
.navbar-style {
	background-color: #121212;
	color: white;
	background: black;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
} 

.order-heading,
.tabcontent {
	margin: 20px;
	font-size: 24px;
}

.tabcontent p {
	margin: 10px 0px;
}
