* {
  margin: 0;
}

#top_div {
  display: flex;
  flex-direction: row;
  height: 100px;
  background: black;
  color: gray;
  margin: 0;
}

#title-div {
  color: #00cca3;
  display: flex;
  font-size: 40px;
  padding-top: 0;
  width: 30%;
  padding-left: 50px;
  height: 100%;
  align-items: center;
  font-family: "Audiowide";
}

#navbar-div {
  align-items: center;
  width: 70%;
  display: flex;
  height: 100%;
  float: right;
  justify-content: flex-end;
  margin-right: 5%;
}
#navbar-div li {
  list-style-type: none;
}

#navbar-div li a {
  text-decoration: none;
  /*padding-left: 30px;*/
  color: gray;
  display: block;
  margin-top: 0;
  padding: 38px 30px;
}

#navbar-div li a:hover {
  background: #00cca3;
  color: black;
}
.active {
  background-color: #00cca3;
  color: black;
}

body {
  font-family: Verdana, sans-serif;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

.slideshow-container {
  height: 100vh;
}

/* For slideshow images */

.slideshow-container .mySlides img {
  height: 85vh;
  width: 100%;
}

/* here we are applying css for image caption in slider or carousel */

.text_caption {
  padding: 10px 0;
  text-align: center;
}

/* padding to H2 in image caption later we will change font stlying as well */
.text_caption h2 {
  margin: 10px 0;
}

/* Caption text */
.text {
  background: rgba(
    20,
    20,
    20,
    0.82
  ); /* this property will give us opacty above image caption    */
  /* margin: 0 auto; */
  color: white;
}

/* claim design card stlying 
 */
.claim_design {
  background-color: #05ba8e;
  border-bottom: 2px solid #eaeaea;
  color: black;
  margin-bottom: 20px;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.icon-center {
  display: block;
  margin: auto;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

/* Hexagone shape */

.service-box {
  margin: 25px 0 36px;
  text-align: center;
}

.hexagon {
  display: inline-block;
  position: relative;
  padding: 45px 0;
  margin-bottom: 20px;
}

.hexagon .inner {
  vertical-align: middle;
  display: table-cell;
  width: 150px;
  height: 87px;
  border-left: 1px solid #05ba8e;
  border-right: 1px solid #05ba8e;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  top: 45px;
  left: 0;
  width: 150px;
  height: 87px;
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  border-right: 1px solid #05ba8e;
  border-left: 1px solid #05ba8e;
}
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hexagon:after {
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

/* ABout us styling */

.section-header {
  margin-top: 20px;
  margin-bottom: 60px;
}

.line-wrapper {
  display: inline-block;
}

.btn-color {
  background-color: #00cca3;
  color: white;
}

.btn:hover {
  background-color: Transparent;
  background-repeat: no-repeat;
  border-color: #00cca3;
  color: #00cca3;
}


.price-card-container{
  margin : 20px 0
}


.pricing{
  
  margin: 10px 0;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00cca3;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  
}

.pricing span{
  font-size: 24px;
  font-weight: bolder;
  /* border-bottom: 2px dashed black; */
 }

 .card h2{
   text-transform: uppercase;
   font-weight: 600;
 }
 button{
   background-color: #00cca3;
   color: white;
 }


 .testimonial{
   background-color: black;
   /* margin-bottom: 30px; */
 }

 .contact-us{
   /* background-color: grey; */
   background: #D2D2D2;
   padding: 40px 0px;
 }

 .contact-us h2 span{
   border-bottom: 3px solid #00cca3;
  }
  .contact-us h2{

    margin: 20px 0;
  }





/* Footer */

/* Please Subscribe My Youtube Channel
https://www.youtube.com/channel/UCQM5ye1xR4vJgtga0ryud2Q/
*/

/*==================== 
	Footer 
====================== */

/* Main Footer */
footer .main-footer {
  padding: 20px 0;
  background: #000000;
}
footer ul {
  padding-left: 0;
  list-style: none;
}

/* Copy Right Footer */
.footer-copyright {
  background: rgb(0, 0, 0);
  padding: 5px 0;
}
.footer-copyright .logo {
  display: inherit;
}
.footer-copyright nav {
  float: right;
  margin-top: 5px;
}
.footer-copyright nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-copyright nav ul li {
  border-left: 1px solid #505050;
  display: inline-block;
  line-height: 12px;
  margin: 0;
  padding: 0 8px;
}
.footer-copyright nav ul li a {
  color: #969696;
}
.footer-copyright nav ul li:first-child {
  border: medium none;
  padding-left: 0;
}
.footer-copyright p {
  color: #969696;
  margin: 2px 0 0;
}

/* Footer Top */
.footer-top {
  background: #000000;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 3px solid black;
}

/* Footer transparent */
footer.transparent .footer-top,
footer.transparent .main-footer {
  background: transparent;
}
footer.transparent .footer-copyright {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}

/* Footer light */
footer.light .footer-top {
  background: #f9f9f9;
}
footer.light .main-footer {
  background: #f9f9f9;
}
footer.light .footer-copyright {
  background: none repeat scroll 0 0 black;
}

/* Footer 4 */
.footer- .logo {
  display: inline-block;
}

/*==================== 
	Widgets 
====================== */
.widget {
  padding: 20px;
  margin-bottom: 40px;
}
.widget.widget-last {
  margin-bottom: 0px;
}
.widget.no-box {
  padding: 0;
  background-color: transparent;
  margin-bottom: 40px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}
.widget.subscribe p {
  margin-bottom: 18px;
}
.widget li a:hover {
  color: #4b92dc;
}
.widget-title {
  margin-bottom: 20px;
}
.widget-title span {
  background: #839fad none repeat scroll 0 0;
  display: block;
  height: 1px;
  margin-top: 25px;
  position: relative;
  width: 20%;
}
.widget-title span::after {
  background: inherit;
  content: "";
  height: inherit;
  position: absolute;
  top: -4px;
  width: 50%;
}
.widget-title.text-center span,
.widget-title.text-center span::after {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.widget .badge {
  float: right;
  background: black;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
  color: #fff;
}

ul.social-footer2 {
  margin: 0;
  padding: 0;
  width: auto;
}
ul.social-footer2 li {
  display: inline-block;
  padding: 0;
}
ul.social-footer2 li a:hover {
  background-color: #00cca3;
}
ul.social-footer2 li a {
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
}

.thumbnail-widget li:hover {
  color: #00cca3;
  cursor: pointer;
  text-decoration: underline;
}

#ft_reg_btn {
  color: #000000;
}

#ft_reg_btn:hover {
  color: #00cca3;
}

.ft_email {
  color: #00cca3;
}

.ft_email:hover {
  text-decoration: none;
  color: white;
}
